/*General*/
h1 {
	font-size: 45px;
	margin-top: 55px;
}
h2{
	font-size: 20px;
	text-align: center;
	color: #a5693f;
}
h3{
	text-align: center;
	color: #a5693f;
	margin-top: 45px;
	margin-left: 82%;
}
p{
	font-family: ringbearer;
	font-size: 20px;
	color: #a5693f;
}
.background{
	position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
	background-image: URL("../assets/images/ringbg.jpg");
	z-index: -2;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}
/*Header*/
.headrow {
	text-align: center;
	font-family: ringbearer;
	color: #a5693f;
}

/*Timer Row*/
.timerrow {
	font-family: aniron;
}
.messages .timer{
	text-align: center;
	color: #a5693f;
}
.progress-bar{
	background-color: #d15321;
}
.progress{
	background-color: #473521;
	margin-left: 815px;
    margin-top: 20px;
    margin-right: -10px;
}
/*Question Row*/
div.questionrow{
	margin-left: 755px;
	font-family: aniron;
	font-size: 15px;
	text-align: right;
	width: 35%;
	color: white;
}
.answerChoice:before {
	content:'';
	position: absolute;
	top: 0px;
	right: 0px;
	width: 0px;
	height: 22px;
	background: linear-gradient(to left, #232730 , yellow);
	border-radius: 5px;
	transition: all 1s ease;
	z-index: -1;
}
.answerChoice:hover:before {
	width: 100%;
}
.questionbox{
	margin-bottom: 25px;
}
.answerChoice{
	margin: 5px 0px;
}
/*Endgame*/
.victory {
	position: absolute;
	margin: 275px;
	font-size: 25px;
}
/*Fonts*/
@font-face {
	font-family: ringbearer;
	src: URL(../assets/ringbearer.ttf);
}
@font-face {
	font-family: aniron;
	src: URL(../assets/aniron.ttf);
}